footer.footer-main {
  background-color: $--color-black;
  position: relative;
  padding-bottom: 88px;
  margin-top: 344px;

  .footer-banner {
    margin-top: -167px;
    margin-bottom: 90px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: $--color-white;
    padding: 64px 52px 20px;

    .h2 {
      width: 100%;
      margin-bottom: 68px;
    }
  }

  ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;

    li {
      margin-bottom: 10px;
      font-size: 16px;
      font-weight: 300;
      line-height: 19px;
      color: $--color-white;

      &:last-of-type {
        margin-bottom: 0;
      }

      a {
        font-size: 16px;
        font-weight: 300;
        line-height: 19px;
        color: $--color-white;
        text-decoration: none;

        &:hover {
          color: $--color-red;
        }
      }
    }
  }

  .footer-banner-links {
    display: flex;
    width: 100%;
    justify-content: space-between;

    li {
      width: 33.33%;
      padding: 46px 40px 40px;

      &:first-of-type {
        padding-left: 0;
      }

      &:nth-of-type(2) {
        border-right: 1px solid $--color-grey-2;
        border-left: 1px solid $--color-grey-2;
      }

      a {
        font-size: 28px;
        font-weight: 500;
        line-height: 34px;
        color: $--color-black;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        &:after {
          content: "";
          display: block;
          width: 18px;
          height: 18px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: 18px;
          background-image: url(../img/icons/arrow-red-ico.svg);
        }
      }
    }
  }

  .footer-center {

    &:after {
      content: "";
      display: block;
      height: 1px;
      width: 100%;
      position: absolute;
      margin-top: 50px;
      left: 0;
      background-color: $--color-white;
      opacity: 0.4;
    }
  }

  .footer-menu-wrapper {
    margin-top: 50px;
    padding-top: 80px;
  }

  .container-fluid {
    position: relative;
    &:before {
      content: "";
      display: block;
      width: 24%;
      height: calc( 100% + 36px);
      background-color: $--color-black-2;
      position: absolute;
      left: 0;
      top: 51px;
      z-index: 0;
    }
  }

  .subtitle {
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    color: $--color-grey-2;
    margin-bottom: 20px;
    z-index: 1;
    position: relative;
    text-transform: uppercase;
  }

  .footer-title {
    display: flex;
    align-items: flex-end;
    margin-bottom: 18px;

    .footer-logo-title {
      font-size: 70px;
      font-weight: 300;
      line-height: 70px;
      text-transform: uppercase;
      color: $--color-white;
    }

    .btn {
      margin-left: auto;
    }

  }

  .footer-description {

    p {
      font-size: 16px;
      font-weight: 300;
      line-height: 19px;
      color: $--color-grey-2;
    }
  }

  .footer-contacts {
    margin-bottom: 35px;
    z-index: 1;
    position: relative;

    .footer-contact {
      font-size: 16px;
      font-weight: 300;
      line-height: 19px;
      color: $--color-white;
      margin-bottom: 20px;
      display: flex;

      &:hover {

        a {
          color: $--color-red;
        }
      }

      &:before {
        content: "";
        display: block;
        width: 16px;
        height: 16px;
        min-width: 16px;
        background-size: 16px;
        background-repeat: no-repeat;
        background-position: center;
        margin-right: 10px;
        margin-top: 1px;
        transition: 0.3s;
      }

      a {
        font-size: 16px;
        font-weight: 300;
        line-height: 19px;
        color: $--color-white;
        transition: 0.3s;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
    .footer-address {

      a {
        line-height: 24px;
      }

      &:before {
        background-image: url(../img/icons/footer-location-white.svg);
        margin-top: 4px;
      }

      &:hover {

        &:before {
          background-image: url(../img/icons/footer-location-hover.svg);
        }
      }
    }
    .footer-mail {

      &:before {
        background-image: url(../img/icons/footer-mail-white.svg);
      }

      &:hover {

        &:before {
          background-image: url(../img/icons/footer-mail-hover.svg);
        }
      }
    }
    .footer-phone {

      &:before {
        background-image: url(../img/icons/footer-call-white.svg);
      }

      &:hover {

        &:before {
          background-image: url(../img/icons/footer-call-hover.svg);
        }
      }
    }
  }

  .footer-socials {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    width: 100%;

    .social-link {
      background-repeat: no-repeat;
      background-position: center;
      background-size: 36px;
      width: 36px;
      height: 36px;
    }

    .social-link-facebook {
      background-image: url(../img/icons/facebook.svg);

      &:hover {
        background-image: url(../img/icons/facebook-hover.svg);
      }
    }

    .social-link-instagram {
      background-image: url(../img/icons/insta.svg);

      &:hover {
        background-image: url(../img/icons/insta-hover.svg);
      }
    }

    .social-link-tic-toc {
      background-image: url(../img/icons/tik-toc.svg);

      &:hover {
        background-image: url(../img/icons/tik-toc-hover.svg);
      }
    }

    .social-link + .social-link {
      margin-left: 15px;
    }
  }

}

@media (min-width: 1600px) {
  footer.footer-main .container-fluid:before {
    width: 28%;
  }
}

@media (min-width: 1920px) {
  footer.footer-main .container-fluid:before {
    width: 30%;
  }
}

@media (min-width: 2100px) {
  footer.footer-main .container-fluid:before {
    width: 32%;
  }
}


@media (max-width: 1260px) {
  footer.footer-main .container-fluid:before {
    width: 25%;
  }
}

@media (max-width: 900px) {
  footer.footer-main .container-fluid:before {
    width: 26%;
  }
}


@media (max-width: 1024px) {
  footer.footer-main {
    padding-bottom: 55px;

    .container-fluid:before {
      top: 31px;
      height: calc(100% + 24px);
    }

    .footer-menu-wrapper {
      margin-top: 30px;
      padding-top: 33px;

      .col-md-3 {

        &:nth-of-type(2) {
          width: 20%;
        }

        &:nth-of-type(3) {
          width: 30%;
        }

      }
    }

    .footer-center {

      &:after {
        margin-top: 30px;
      }
    }

    .footer-title {
      margin-bottom: 10px;

      .footer-logo-title {
        font-size: 44px;
        line-height: 44px;
      }
    }

    .footer-banner {
      padding: 54px 40px 30px;
      margin-bottom: 80px;
    }

    .footer-banner-links {

      li {
        padding: 28px 48px;

        &:last-of-type {
          padding-right: 0;
        }
      }
    }
  }
}


@media (max-width: 600px) {
  footer.footer-main {
    margin-top: 224px;
    padding-bottom: 0;

    .row {
      width: 100%;
      margin-right: 0;
      margin-left: 0;
    }

    [class*=col-] {
      padding: 0;
    }

    .subtitle {
      font-size: 16px;
      line-height: 19px;
      margin-bottom: 15px;
    }

    ul {

      li {

        a {
          font-size: 15px;
          line-height: 18px;
        }
      }
    }

    .container-fluid:before {
      display: none;
    }

    .footer-center:after {
      margin-top: 20px;
    }

    ul {
      margin-bottom: 20px;
    }

    .footer-menu-wrapper {
      margin-top: 0;
      padding-top: 40px;

      .col-m-12 {

        &:nth-of-type(2), &:nth-of-type(3) {
          width: 100%;
        }

        &:nth-of-type(2) {
          ul {
            display: flex;
            flex-wrap: wrap;
            max-width: 80%;

            li {
              width: 50%;
            }
          }
        }

        &:nth-of-type(3) {
          .subtitle {
            margin-bottom: 10px;
          }
        }

        &:nth-of-type(1) {
          order: 4;
          margin-top: 13px;
          position: relative;
          padding-top: 24px;
          padding-bottom: 32px;

          &:before {
            content: "";
            position: absolute;
            top: 0;
            background-color: #2A2627;
            width: calc(100% + 48px);
            left: -24px;
            height: 100%;
            display: block;
          }
        }
      }
    }

    .footer-title {
      margin-bottom: 24px;
      width: 100%;

      .footer-logo-title {
        font-size: 30px;
        line-height: 30px;
        max-width: 325px;
      }
    }
    .footer-banner {
      padding: 0 15px 30px 24px;
      margin-bottom: 44px;
      margin-top: -107px;

      .h2 {
        margin-bottom: 55px;
        font-size: 52px;
        line-height: 52px;
      }
    }

    .footer-banner-links {
      flex-wrap: wrap;
      margin-bottom: 0;

      li {
        width: 100%;
        padding: 20px 0;

        a {
          font-size: 23px;
          line-height: 28px;
        }

        &:not(:last-of-type) {
          border-bottom: 1px solid $--color-grey-2;
        }

        &:nth-of-type(1) {
          padding-top: 0;
        }

        &:last-of-type {
          padding-bottom: 0;
        }

        &:nth-of-type(2) {
          border-left: 0;
          border-right: 0;
        }
      }
    }
  }
}
