.single-staff-section {
  margin: 30px 0 200px;

  .staff-name {
    font-size: 60px;
    font-weight: 250;
    line-height: 60px;
    color: $--color-black;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  .text-description {
    max-width: 85%;
  }

  .staff-position {
    font-size: 28px;
    font-weight: 500;
    line-height: 34px;
    color: $--color-black;
    margin-bottom: 30px;
  }

  .staff-image {

    img {
      height: 515px;
      width: 100%;
      object-fit: cover;
    }
  }

}
