//
// Project Variables
//

/* fonts */
$--font-default: 'Helvetica Neue LT Std';


/* colors */
$--color-white: #fff;
$--color-black: #231F20;
$--color-red: #C80D3A;
$--color-grey: #F1F5FB;
$--color-grey-2: #B2B3B7;
