//
// Project Variables
//

/* fonts */
$--font-default: 'Helvetica Neue LT Std';


/* colors */
$--color-white: #fff;
$--color-black: #231F20;
$--color-black-2: #2A2627;
$--color-red: #C80D3A;
$--color-red-hover: #C80D3A;
$--color-red-hover-2: #AA0C1E;
$--color-red-focus: #FB033F;
$--color-grey: #F1F5FB;
$--color-grey-2: #B2B3B7;
$--color-grey-3: #636363;
