section.margin-control {
  margin: 170px 0;
}

.default-video-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  video, iframe {
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    height: inherit;
  }
}

section:has(.contact-block-include) {
  position: relative;
  overflow-x: clip;
  margin-top: 220px;
}

.contact-block-include {
  max-width: 330px;
  margin: 0 auto;
  position: relative;

  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 4000px;
    height: calc(100% + 140px);
    background-color: #FBFBFC;
    left: -70px;
    top: -80px;
    z-index: -1;
  }

  .h2 {
    margin-bottom: 40px;
  }

  .contact-block-description {
    margin-bottom: 30px;

    p {
      font-size: 20px;
      line-height: 24px;
    }
  }

  .btn {
    width: 100%;

    &:not(:last-of-type) {
      margin-bottom: 20px;
    }
  }

}

.contact-block-items {
  margin-bottom: 60px;

  .contact-block-item {
    margin-bottom: 10px;

    &:last-of-type {
      margin-bottom: 0;
    }

    a, span {
      display: flex;
      align-items: center;
      width: fit-content;
      font-size: 20px;
      font-weight: 400;
      line-height: 23px;
      color: $--color-black;


      &:before {
        content: "";
        display: block;
        width: 17px;
        height: 17px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 17px;
        margin-right: 10px;
      }

    }

    a {

      &:hover {
        color: $--color-red-hover;
      }
    }
  }
  .contact-block-item-phone a {

    &:before {
      background-image: url(../img/icons/call.svg);
    }
  }

  .contact-block-item-mail a {
    &:before {
      background-image: url(../img/icons/mail.svg);
    }
  }

  .contact-block-item-address span {
    &:before {
      background-image: url(../img/icons/location.svg);
    }
  }

  .contact-block-item-work-time span {
    &:before {
      background-image: url(../img/icons/time-sharp.svg);
    }
  }
}

.event-card {
  display: flex;
  flex-direction: column;
  height: 100%;

  .event-card-image {
    margin-bottom: 15px;

    img {
      height: 237px;
      width: 100%;
      object-fit: cover;
    }
  }

  .event-card-tags {
    margin: 0 -10px;
    width: calc(100% + 20px);
    display: flex;
    flex-wrap: wrap;

    .event-card-tag {
      padding: 0 10px;
      margin-bottom: 15px;

      span {
        padding: 0 10px;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        color: $--color-black;
        border: 1px solid $--color-black;
        width: fit-content;
        border-radius: 50px;
      }
    }
  }

  .event-card-title {
    font-size: 28px;
    font-weight: 500;
    line-height: 34px;
    color: $--color-black;
    margin-bottom: 15px;
    display: block;
  }

  .event-card-date {
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    color: $--color-black;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-top: auto;

    &:after {
      content: "";
      display: block;
      width: 12px;
      height: 12px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 12px;
      background-image: url(../img/icons/arrow-red-ico.svg);
    }
  }

}


.title-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 80px;

  .btn {
    margin-right: 80px;
    padding: 0 35px;
  }
}

.event-card-main {

  .event-card-image {
    padding: 20px;
    height: 471px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 24px;

    .event-card-tags {
      margin: 0 -10px;
      width: calc(100% + 20px);
      display: flex;
      flex-wrap: wrap;

      .event-card-tag {
        padding: 0 10px;
        margin-bottom: 20px;

        span {
          display: flex;
          align-items: center;
          justify-content: center;
          width: fit-content;
          font-size: 12px;
          font-weight: 400;
          line-height: 14px;
          color: $--color-black;
          padding: 0 12px;
          background-color: $--color-white;
          height: 30px;
          border-radius: 50px;
          border: 1px solid $--color-grey-2;
        }
      }
    }
  }

  .event-card-title {
    font-size: 28px;
    font-weight: 500;
    line-height: 34px;
    color: $--color-black;
    margin-bottom: 12px;
    display: flex;
    align-items: flex-start;
    width: 100%;
    justify-content: space-between;

    span {
      max-width: 85%;
    }

    &:after {
      content: "";
      width: 20px;
      min-width: 20px;
      height: 20px;
      margin-top: 10px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 20px;
      background-image: url(../img/icons/arrow-red-ico.svg);
    }
  }

  .event-card-date {
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    color: $--color-black;
  }

}

.card-bordered-wrapper {
  width: 100%;
  padding: 45px 40px;
  border: 1px solid $--color-black;
  margin-bottom: 30px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.table-wrapper {
  width: 100%;
  margin-bottom: 30px;

  table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;

    tr {

      th {
        font-weight: 700;
        text-transform: uppercase;
        background-color: transparent;
      }

      td {
        background-color: transparent;
        font-size: 20px;
        font-weight: 300;
        line-height: 24px;
        color: $--color-black;
        text-align: center;
        padding: 15px 0;
        border-bottom: 1px solid $--color-grey-2;
        border-right: 1px solid $--color-grey-2;

        &:nth-of-type(1) {
          text-align: start;
        }

        &:last-of-type {
          font-weight: 700;
          border-right: 0;
        }
      }

      &:nth-of-type(1) {

        td {
          span {
            font-weight: 700!important;
          }
          font-weight: 700;
          text-transform: uppercase;
          border-image: linear-gradient(to top, rgba(178, 179, 183, 0), #B2B3B7 5%, #B2B3B7 95%, rgba(178, 179, 183, 0)) 1;
        }
      }

      &:last-of-type {

        td {
          border-bottom: 0;
        }
      }
    }
  }
}

.content-card-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;

  .content-card-image {
    margin-bottom: 15px;

    img {
      height: 237px;
      width: 100%;
      object-fit: cover;
    }
  }

  .content-card-title {
    font-size: 28px;
    font-weight: 500;
    line-height: 34px;
    color: $--color-black;
    height: 68px;
    overflow: hidden;
    margin-bottom: 10px;
  }

  .text-description {
    margin-bottom: 35px;

    p {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -moz-box;
      -moz-box-orient: vertical;
      display: -webkit-box;
      -webkit-line-clamp: 7;
      -webkit-box-orient: vertical;
      line-clamp: 7;
      box-orient: vertical;
    }
  }

  .link-red {
    margin-top: auto;
  }

}


.staff-card {

  .staff-image {
    margin-bottom: 10px;

    img {
      height: 490px;
      width: 100%;
      object-fit: cover;
    }
  }

  .staff-name {
    font-size: 35px;
    font-weight: 700;
    line-height: 42px;
    max-width: 70%;

    a {
      font-size: 35px;
      font-weight: 700;
      line-height: 42px;
      color: $--color-black;

      &:hover {
        color: $--color-red;
      }
    }
  }

  .staff-position {
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;

    p {
      font-size: 20px;
      font-weight: 300;
      line-height: 24px;
      color: $--color-black;
    }
  }
}
