section.margin-control {
  margin: 170px 0;
}

body::-webkit-scrollbar {
  width: 6px
}

body::-webkit-scrollbar-track {
  background: #F1F5FB;
}

body::-webkit-scrollbar-thumb {
  background-color: $--color-red;
  border-radius: 20px;
  border: 3px solid $--color-red;
}

body:has(.breadcrumbs-section) section:first-of-type {
  margin-top: 30px;
}

.default-video-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  video, iframe {
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    height: inherit;
  }
}

p:has(iframe) {
  width: 100%;
  display: block;

  iframe {
    width: 100%;
  }
}

section:has(.contact-block-include) {
  position: relative;
  overflow-x: clip;
  margin-top: 220px;
}

.contact-block-include {
  max-width: 330px;
  margin: 0 auto;
  position: relative;

  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 4000px;
    height: calc(100% + 140px);
    background-color: #FBFBFC;
    left: -70px;
    top: -80px;
    z-index: -1;
  }

  .h2 {
    margin-bottom: 40px;
  }

  .contact-block-description {
    margin-bottom: 30px;

    p {
      font-size: 20px;
      line-height: 24px;
    }
  }

  .btn {
    width: 100%;

    &:not(:last-of-type) {
      margin-bottom: 20px;
    }
  }

}

.contact-block-items {
  margin-bottom: 60px;

  .contact-block-item {
    margin-bottom: 10px;

    &:last-of-type {
      margin-bottom: 0;
    }

    a, span {
      display: flex;
      align-items: center;
      width: fit-content;
      font-size: 20px;
      font-weight: 400;
      line-height: 23px;
      color: $--color-black;


      &:before {
        content: "";
        display: block;
        width: 17px;
        height: 17px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 17px;
        margin-right: 10px;
      }

    }

    a {

      &:hover {
        color: $--color-red-hover;
      }
    }
  }
  .contact-block-item-phone a {

    &:before {
      background-image: url(../img/icons/call.svg);
    }
  }

  .contact-block-item-mail a {
    &:before {
      background-image: url(../img/icons/mail.svg);
    }
  }

  .contact-block-item-address span {
    &:before {
      background-image: url(../img/icons/location.svg);
    }
  }

  .contact-block-item-work-time span {
    &:before {
      background-image: url(../img/icons/time-sharp.svg);
    }
  }
}

.event-card {
  display: flex;
  flex-direction: column;
  height: 100%;

  .event-card-image {
    margin-bottom: 15px;

    img {
      height: 237px;
      width: 100%;
      object-fit: cover;
    }
  }

  .event-card-tags {
    margin: 0 -10px;
    width: calc(100% + 20px);
    display: flex;
    flex-wrap: wrap;

    .event-card-tag {
      padding: 0 10px;
      margin-bottom: 15px;

      span {
        padding: 0 10px;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        color: $--color-black;
        border: 1px solid $--color-black;
        width: fit-content;
        border-radius: 50px;
      }
    }
  }

  .event-card-title {
    font-size: 28px;
    font-weight: 500;
    line-height: 34px;
    color: $--color-black;
    margin-bottom: 15px;
    display: block;
  }

  .event-card-date {
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    color: $--color-black;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-top: auto;
    text-transform: uppercase;

    &:after {
      content: "";
      display: block;
      width: 12px;
      height: 12px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 12px;
      background-image: url(../img/icons/arrow-red-ico.svg);
    }
  }

}


.title-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 80px;

  .btn {
    margin-right: 80px;
    padding: 0 35px;
  }
}

.event-card-main {

  .event-card-image {
    padding: 20px;
    height: 471px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 24px;

    .event-card-tags {
      margin: 0 -10px;
      width: calc(100% + 20px);
      display: flex;
      flex-wrap: wrap;

      .event-card-tag {
        padding: 0 10px;
        margin-bottom: 20px;

        span {
          display: flex;
          align-items: center;
          justify-content: center;
          width: fit-content;
          font-size: 12px;
          font-weight: 400;
          line-height: 14px;
          color: $--color-black;
          padding: 0 12px;
          background-color: $--color-white;
          height: 30px;
          border-radius: 50px;
          border: 1px solid $--color-grey-2;
        }
      }
    }
  }

  .event-card-title {
    font-size: 28px;
    font-weight: 500;
    line-height: 34px;
    color: $--color-black;
    margin-bottom: 12px;
    display: flex;
    align-items: flex-start;
    width: 100%;
    justify-content: space-between;

    span {
      max-width: 85%;
    }

    &:after {
      content: "";
      width: 20px;
      min-width: 20px;
      height: 20px;
      margin-top: 10px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 20px;
      background-image: url(../img/icons/arrow-red-ico.svg);
    }
  }

  .event-card-date {
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    color: $--color-black;
  }

}

.card-bordered-wrapper {
  width: 100%;
  padding: 45px 40px;
  border: 1px solid $--color-black;
  margin-bottom: 30px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.table-wrapper {
  width: 100%;
  margin-bottom: 30px;
  padding-bottom: 10px;


  table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;

    tr {

      th {
        font-weight: 700;
        text-transform: uppercase;
        background-color: transparent;
        color: $--color-black;
        text-align: center;

        &:nth-of-type(1) {
          padding-left: 0;
          text-align: start;
        }
      }

      td {
        background-color: transparent;
        font-size: 20px;
        font-weight: 300;
        line-height: 24px;
        color: $--color-black;
        text-align: center;
        padding: 15px 0;
        border-bottom: 1px solid $--color-grey-2;
        border-right: 1px solid $--color-grey-2;

        &:nth-of-type(1) {
          text-align: start;
        }

        &:last-of-type {
          font-weight: 700;
          border-right: 0;
        }
      }

      &:nth-of-type(1) {

        td {
          span {
            font-weight: 700!important;
          }
          font-weight: 700;
          text-transform: uppercase;
          border-image: linear-gradient(to top, rgba(178, 179, 183, 0), #B2B3B7 5%, #B2B3B7 95%, rgba(178, 179, 183, 0)) 1;
        }
      }

      &:last-of-type {

        td {
          border-bottom: 0;
        }
      }
    }
  }
}

.content-card-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;

  .content-card-image {
    margin-bottom: 15px;

    img {
      height: 237px;
      width: 100%;
      object-fit: cover;
    }
  }

  .content-card-title {
    font-size: 28px;
    font-weight: 500;
    line-height: 34px;
    color: $--color-black;
    height: 68px;
    overflow: hidden;
    margin-bottom: 10px;
  }

  .text-description {
    margin-bottom: 35px;
  }

  .link-red {
    margin-top: auto;
  }

}


.staff-card {
  position: relative;

  .staff-popup-btn-mobile {
    display: none;
  }

  .staff-popup-btn {
    transform: rotate(45deg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    display: block;
    cursor: pointer;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 20px;
    transition: 0.3s;
    top: 20px;
    background-image: url(../img/icons/modal-staff-close.svg);
  }

  .staff-popup {
    position: absolute;
    left: calc(100% - 10px);
    width: calc(100% + 50px);
    background: #fff;
    z-index: 1;
    padding: 25px;
    opacity: 0;
    visibility: hidden;
    max-width: 0;
    height: 0;
    overflow: hidden;
    border-style: solid;
    border-width: 1px 1px 1px 0;
    border-color: #B2B3B7;

    .staff-description {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -moz-box;
      -moz-box-orient: vertical;
      display: -webkit-box;
      -webkit-line-clamp: 19;
      -webkit-box-orient: vertical;
      line-clamp: 19;
      box-orient: vertical;
      margin-bottom: 30px;
    }
  }

  .staff-image {
    position: relative;
    margin-bottom: 10px;

    img {
      height: 490px;
      width: 100%;
      filter: grayscale(1);
      object-fit: cover;
    }
  }

  .staff-name {
    font-size: 35px;
    font-weight: 700;
    line-height: 42px;
    max-width: 70%;
    color: $--color-black;
    display: block;
    width: fit-content;

    a {
      font-size: 35px;
      font-weight: 700;
      line-height: 42px;
      color: $--color-black;

      &:hover {
        color: $--color-red;
      }
    }
  }

  .staff-position {
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;

    p {
      font-size: 20px;
      font-weight: 300;
      line-height: 24px;
      color: $--color-black;
    }
  }
}

.staff-card.show {
  padding-bottom: 22px;
  border-bottom: 1px solid #B2B3B7;

  .staff-popup-btn {
    transform: none;
  }


  .staff-popup {
    opacity: 1;
    visibility: visible;
    max-width: initial;
    overflow: visible;
    height: calc(100% + 1px);
  }
}

.pc-hidden-btn {
  display: none;
}

@media (max-width: 1024px) {
  main {
    margin-top: 0;
  }
  section.margin-control {
    margin: 100px 0;
  }
  .staff-card .staff-name {
    max-width: 100%;
  }
  .title-wrapper {
    margin-bottom: 50px;

    .btn {
      margin-right: 0;
    }
  }
  .contact-block-include {
    background-color: #fbfbfc;
    padding: 76px 30px;
    max-width: 100%;

    &:after {
      display: none;
    }
  }
  .contact-include-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;

    .btn {
      width: calc(50% - 12px);

      &:nth-of-type(1) {
        margin-right: 12px;
      }
      &:nth-of-type(2) {
        margin-left: 12px;
      }
    }

    .contact-block-items {
      width: 50%;
      padding-right: 12px;
    }
    .contact-block-description {
      width: 50%;
      padding-left: 12px;
      margin-bottom: 60px;
    }
  }
}

@media (max-width: 600px) {
  .content-card-wrapper {
    .content-card-image  {
      img {
        height: 187px;
      }
    }
    .content-card-title {
      font-size: 22px;
      line-height: 26px;
      height: 48px;
    }
  }
  .staff-card {

    .staff-name {
      font-size: 23px;
      line-height: 28px;
      margin-bottom: 5px;
      width: 100%;
      font-weight: 500;

      a {
        font-size: 23px;
        line-height: 28px;
        max-width: 50%;
      }
    }

    .staff-position {
      font-size: 16px;
      line-height: 19px;
    }

    .staff-image {

      img {
        height: 361px;
      }
    }
  }

  .contact-block-include {
    padding: 40px 0;
    margin-top: 100px;
    background-color: transparent;

    &:after {
      content: "";
      display: block;
      width: 4000px;
      height: 100%;
      position: absolute;
      left: -24px;
      top: 0;
    }

    .btn {
      width: 100%;

      &:nth-of-type(1) {
        margin-right: 0;
      }
      &:nth-of-type(2) {
        margin-left: 0;
      }
    }

    .contact-block-items {
      width: 100%;
      padding-right: 0;
      margin-bottom: 30px;
    }
    .contact-block-description {
      width: 100%;
      padding-left: 0;
      margin-bottom: 20px;
    }
  }

  .event-card {

    .event-card-title {
      font-size: 23px;
      line-height: 28px;
    }
  }

  .card-bordered-wrapper {
    padding: 30px 20px;
  }

  .event-card-main {

    .event-card-image {
      height: 274px;
    }

    .event-card-date {
      opacity: 0.6;
    }

    .event-card-title {
      font-size: 20px;
      line-height: 24px;
      font-weight: 700;
    }
  }

  .title-wrapper {

    .btn {
      display: none;
    }
  }

  .pc-hidden-btn {
    display: flex;

    .btn {
      position: absolute;
      top: -65px;
      z-index: 3;
      right: 0;
    }
  }

  .staff-card .staff-popup-btn {
    top: unset;
    bottom: 20px;
  }

  .staff-card.show {

    .staff-popup-btn {
      display: none;
    }

    .staff-popup {
      left: 0;
      width: 100%;
      bottom: -100%;
      border: 0;
      box-shadow: 0 0 3px 0 #00000030;
      min-height: 100%;
      height: initial;

      .staff-popup-btn-mobile {
        background-repeat: no-repeat;
        background-position: center;
        background-size: 30px;
        display: block;
        cursor: pointer;
        width: 30px;
        height: 30px;
        position: absolute;
        right: 20px;
        bottom: 20px;
        background-image: url(../img/icons/header-modal-close.svg);
      }
    }
  }


}
