.accordion {
  width: 100%;

  .accordion-item {
    transition: all 0.3s;
    width: 100%;
    overflow: hidden;
    background-color: $--color-white;
    border-bottom: 1px solid $--color-black;

    &:last-of-type {
      border-bottom: 0;
    }

    .accordion-item-header {
      font-size: 28px;
      font-weight: 500;
      line-height: 34px;
      color: $--color-black;
      cursor: pointer;
      transition: 0.3s;
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      position: relative;
      padding: 25px 42px 25px 0;

      &:after {
        content: "";
        border: solid $--color-black;
        border-width: 0 4px 4px 0;
        display: inline-block;
        padding: 6px;
        transform: rotate(45deg);
        position: absolute;
        right: 3px;
        transition: 0.3s;
      }

    }

    .accordion-item-content {
      overflow: hidden;
      width: 100%;
      transition: height 0.3s ease-in-out;
      height: 0;

      p {
        font-size: 16px;
        font-weight: 300;
        line-height: 19px;
      }

      .accordion-content-wrapper {
        padding-bottom: 25px;
      }
    }

  }

  .accordion-item.active {

    .accordion-item-header {
      color: $--color-red;

      &:after {
        transform: rotate(45deg) scale(-1);
        border-color: $--color-red;
        margin-top: 12px;
      }
    }

  }

}


@media (max-width: 600px) {
  .accordion {
    .accordion-item {
      .accordion-item-header {


        &:after {

        }
      }
    }
  }
}
