.breadcrumbs-section {
  margin: 20px 0 30px;

  a {

  }
  .breadcrumb_last, span, a {
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    color: $--color-grey-3;
  }
  .breadcrumb_last {
    color: $--color-black;
  }

  span span {
    margin-left: 5px;
    display: inline-block;

    &:first-of-type {
      margin-left: 0;
      margin-right: 5px;
    }
  }
}

