.btn-play {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px;
  border-radius: 50%;
  background-color: #FFFFFF1A;
  border: 1px solid #B2B3B7;
  width: 130px;
  height: 130px;
  background-image: url(../img/icons/btn-play.svg);
  position: absolute;
  cursor: pointer;
  transition: 0.3s;
  z-index: 1;

  &:hover {
    background-color: $--color-white;
    background-image: url(../img/icons/btn-play-hover.svg);
  }
}

.btn-play.pause {
  background-image: url(../img/icons/pause-btn.svg);

  &:hover {
    background-image: url(../img/icons/pause-btn-hover.svg);
  }
}

.swiper-button-prev, .swiper-button-next {
  width: 60px;
  height: 60px;
  opacity: 1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  top: 82px;
  background-color: $--color-red;
  background-image: url(../img/icons/swiper-arrow-white.svg);
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev {
  transform: rotate(180deg);
  right: 70px;
  left: unset;
}

.swiper-button-disabled {
  background-image: url(../img/icons/swiper-arrow-black.svg);
  background-color: $--color-grey;
}

.swiper-button-next.swiper-button-disabled {
  transform: rotate(180deg);
}

.swiper-button-prev.swiper-button-disabled {
  transform: rotate(0deg);
}

.btn {
  padding: 0 28px;
  height: 48px;
  width: fit-content;
  font-size: 13px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 60px;
  line-height: 16px;
  text-transform: uppercase;
  transition: 0.3s;
}

.btn-red {
  color: $--color-white;
  background-color: $--color-red;

  &:hover {
    background-color: $--color-red-hover-2;
    color: $--color-white;
  }
  &:focus {
    background-color: $--color-red-focus;
    color: $--color-white;
  }
}

.btn-arrow-down {

  &:after {
    content: "";
    display: block;
    width: 13px;
    height: 13px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 13px;
    margin-left: 10px;
    background-image: url(../img/icons/arrow-white-down.svg);
  }
}

.btn-bordered {
  color: $--color-black;
  border: 1px solid $--color-black;
  background-color: transparent;

  &:hover {
    background-color: $--color-black;
    color: $--color-white;
  }
}

.btn-white {
  background-color: $--color-white;
  color: $--color-red;

  &:hover {
    background-color: $--color-black;
    color: $--color-red;
  }

  &:focus {
    color: $--color-red-focus;
    color: $--color-red;
  }
}

.btn-arrow {

  &:after {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 12px;
    background-image: url(../img/icons/arrow-red-ico.svg);
    margin-left: 10px;
  }

  &:focus {

    &:after {
      background-image: url(../img/icons/arrow-red-focus.svg);
    }
  }

}

.btn-circle {
  border-radius: 50%;
  background-color: $--color-red;
  width: 130px;
  min-width: 130px;
  height: 130px;
  text-align: center;
  color: $--color-white;

  &:hover {
    background-color: $--color-red-hover-2;
    color: $--color-white;
  }

  &:focus {
    background-color: $--color-red-focus;
    color: $--color-white;
  }
}

.btn-circle-arrow {
  flex-direction: column;

  &:before {
    content: "";
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px;
    width: 16px;
    margin-bottom: 20px;
    height: 16px;
    background-image: url(../img/icons/arrow-white-rotated.svg);
  }
}
