.catalog-section {

  .h2 {
    margin-bottom: 40px;
  }

  .text-description {

    p {
      font-size: 20px;
      line-height: 24px;
    }
  }

  .contact-block-include {
    padding-top: 80px;

    &:after {
      top: 0;
      height: calc(100% + 60px);
    }
  }

}
