.content-w-image-section {

  .h2 {
    margin-bottom: 52px;
  }

  .block-pc-hidden {
    display: none;
  }

  .content-image {

    img {
      height: 550px;
      width: 100%;
      object-fit: cover;
    }
  }

  .content-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;

    .link-red {
      margin-top: auto;
    }


    .text-description {
      max-height: 307px;
      overflow: hidden;
    }
  }

  .content-bottom-image {
    margin-top: 68px;
    display: flex;
    width: 100%;
    justify-content: flex-end;

    img {
      height: 280px;
      object-fit: cover;
      width: 100%;
      max-width: 440px;
    }
  }

}

@media (max-width: 1024px) {
  .content-w-image-section {

    .content-image {
      margin-bottom: 30px;

      img {
        height: 400px;
      }
    }

    .content-wrapper {

      .text-description {
        margin-bottom: 60px;
      }
    }

    .content-bottom-image {
      margin-top: 60px;

      img {
        max-width: 66%;
      }
    }

    .h2 {
      display: none;
    }

    .block-pc-hidden {
      display: block;

      .h2 {
        display: block;
      }
    }
  }
}
