.faq-section {

  .h2 {
    margin-bottom: 30px;
  }

  .contact-block-include {
    margin-right: 0;

    .h2 {
      margin-bottom: 50px;
    }
  }

  .accordion-new .accordion-new-item .accordion-new-item-content p, .accordion-new .accordion-new-item .accordion-new-item-content a, .accordion-new .accordion-new-item .accordion-new-item-content span {
    font-size: 20px;
    line-height: 24px;
  }

}
