.filters-section {
  margin-top: 40px;
  margin-bottom: 80px;

  .title-wrapper {
    width: 100%;
    margin-bottom: 16px;

    form {
      margin: 0;
    }

    .filter-title {
      font-size: 37px;
      font-weight: 700;
      line-height: 37px;
      color: $--color-black;
      text-transform: uppercase;
    }

    input[type="search"] {
      padding: 15px;
      border: 1px solid $--color-grey-2;
      border-radius: 40px;
      height: 50px;
      font-size: 16px;
      font-weight: 300;
      line-height: 19px;
      width: 320px;
      color: $--color-grey-3;
      background-repeat: no-repeat;
      background-position: 95% 50%;
      background-size: 24px;
      background-image: url(../img/icons/filters-search.svg);

      &::placeholder {
        font-size: 16px;
        font-weight: 300;
        line-height: 19px;
        color: $--color-grey-3;
      }

    }
  }
  .filters-block {
    display: flex;
    width: 100%;

    .category-title {
      font-size: 23px;
      font-weight: 500;
      line-height: 28px;
      color: $--color-black;
      text-transform: uppercase;
      margin-right: 20px;
    }

    .filters-wrapper {
      display: flex;
      margin: 0 -5px;
      width: calc(100% + 10px);

      .filter {
        padding: 0 5px;

        span {
          font-size: 12px;
          font-weight: 400;
          line-height: 14px;
          color: $--color-black;
          text-transform: uppercase;
          background-color: transparent;
          border: 1px solid $--color-grey-2;
          height: 30px;
          width: fit-content;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 40px;
          padding: 0 15px;
          cursor: pointer;
          transition: 0.3s;
        }
      }
      .filter.selected {

        span {
          color: $--color-white;
          background-color: $--color-black;
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .filters-section  {
    margin-bottom: 40px;

    .title-wrapper {
      align-items: center;
    }

    .filters-block {
      flex-wrap: wrap;

      .category-title {
        margin-bottom: 20px;
      }

      .filters-wrapper {
        flex-wrap: wrap;

        .filter {
          margin-bottom: 10px;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .filters-section {
    .title-wrapper {
      flex-wrap: wrap;

      .filter-title {
        font-size: 23px;
        line-height: 28px;
      }

      input[type=search] {
        width: 100%;
      }
    }
    .search-wrapper {
      width: 100%;
      margin-top: 20px;
    }
  }
}
