.footer-menu {


  ul {
    list-style: none;
    padding-left: 0;

    li {
      margin-bottom: 10px;

      &:last-of-type {
        margin-bottom: 0;
      }

      a {
        font-size: 16px;
        font-weight: 300;
        line-height: 19px;
        color: $--color-white;

        &:hover {
          color: $--color-red-hover;
        }

        &:focus {
          color: $--color-red-focus;
        }
      }
    }
  }
}
