.stats-about-section {

  .h2 {
    margin-bottom: 100px;
    max-width: 70%;
    font-weight: 300;
  }

  .h2-pc-hidden {
    display: none;
  }

  .image-wrapper {

    img {
      height: 520px;
      width: 100%;
      object-fit: cover;
    }
  }

  .table-container {
    padding-top: 100px;
    padding-bottom: 150px;
  }

  table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;

    tr {

      td {
        padding: 30px 0;
        border-bottom: 1px solid $--color-grey-2;
        vertical-align: bottom;


        &:nth-of-type(1) {
          font-size: 60px;
          font-weight: 300;
          line-height: 60px;
          color: $--color-red;
          width: 230px;
        }

        &:nth-of-type(2) {
          font-size: 20px;
          font-weight: 300;
          line-height: 24px;
          color: $--color-black;
          width: 360px;
          padding-right: 80px;
          text-align: start;
        }
      }

      &:first-of-type td {
        padding-top: 0;
      }

      &:last-of-type td {
        border-bottom: none;
        padding-bottom: 0;
      }

    }
  }

}

@media (max-width: 1024px) {

  .stats-about-section {

    .image-wrapper {

      img {
        height: 630px;
      }
    }

    .h2 {
      display: none;
    }
    .h2-pc-hidden {
      display: block;
      margin-bottom: 0;
      max-width: 100%;
    }
    .table-container {
      padding: 80px 0 0;
    }
    table {

      tr {

        td {

          &:nth-of-type(1) {
            width: initial;
          }

          &:nth-of-type(2) {
            padding-right: 0;
            padding-left: 24px;
            width: initial;
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .stats-about-section {

    .image-wrapper {

      img {
        height: 200px;
      }
    }

    .table-container {
      padding: 30px 0 0;
    }

    table {

      tr {
        td {
          padding: 20px 0;

          &:nth-of-type(1) {
            font-size: 37px;
            line-height: 37px;
          }
          &:nth-of-type(2) {
            font-size: 16px;
            line-height: 19px;
          }
        }
      }
    }

    .col-m-12:nth-of-type(2) {
      order: -1;
    }

    .h2 {
      display: block;
      margin-bottom: 20px;
    }

    .h2-pc-hidden {
      display: none;
    }
  }
}
