.students-works {

  .h2 {
    margin-bottom: 20px;
  }

  .description {
    margin-bottom: 110px;

    p {
      max-width: 70%;
    }
  }
}

@media (max-width: 1024px) {

  .students-works {

    .description {
      margin-bottom: 100px;

      p {
        max-width: 100%;
      }
    }
  }
}

@media (max-width: 600px) {

  .students-works .description {
    margin-bottom: 0;
  }

  .students-work-slider {
    padding-top: 60px;

    .btn {
      right: 0;
    }

    .work-slide-wrapper {


      .image-wrapper {

        img {
          height: 240px;
        }
      }
    }

    .swiper-slide {
      width: 100% !important;
      align-items: flex-start;
    }

    .swiper-slide-active {
      width: 100% !important;

      .work-slide-wrapper {

        .image-wrapper {

          img {
            height: 240px;
          }
        }
      }
    }
  }
}
