.table-section {

  .title-wrapper {
    align-items: flex-end;
    margin-bottom: 65px;

    .h2 {
      font-weight: 300;
    }

    .link-red {
      min-width: 101px;
    }
  }

  .text-description {
    max-width: 690px;
  }

}
