.testimonials {

  .h2 {

    span {
      width: 100%;
      display: block;
    }
  }
  .description {
    margin-bottom: 100px;
    max-width: 38%;
  }
}

@media (max-width: 1024px) {
  .testimonials {
    .h2 {
      margin-bottom: 0;
    }
    .title-wrapper {
      margin-bottom: 30px;
    }
    .description {
      max-width: 60%;
      margin-bottom: 50px;
    }
  }
}

@media (max-width: 600px) {
  .testimonials {

    .description {
      max-width: 100%;
      margin-bottom: 64px;
      top: 20%;
      z-index: 3;

      p {
        font-size: 16px;
        line-height: 19px;
      }
    }

    .testimonial-content {
      padding: 30px 0 0;
    }

  }
}
