<!--header.html-->
<%= _.template(require('../includes/common/header.html').default)({}) %>

<section class="page-banner" >
  <div class="container">
    <div class="page-banner-wrapper">
      <h1 class="h2">
        graduate
        <b>Program</b>
      </h1>
      <div class="banner-back-fixed default-video-wrapper">
        <video>
          <source src="./img/asdasd.mp4">
        </video>
        <div class="btn-play"></div>
      </div>
    </div>
  </div>
</section>

<section class="page-banner" >
  <div class="container">
    <div class="page-banner-wrapper">
      <h1 class="h2">
        graduate
        <b>Program</b>
      </h1>
      <div class="banner-back-fixed image-wrapper">
        <img src="./img/graduate-back.png" alt="">
      </div>
    </div>
  </div>
</section>

<section class="main-tags-section">
  <div class="container">
    <div class="main-tags-wrapper">
      <div class="main-tag">
        <span>Master’s Program In <span>Fashion & Luxury Brand Management</span></span>
      </div>
      <div class="main-tag">
        <span>Online Master’s Program In <span>Digital Communication & Social Media Strategy</span></span>
      </div>
      <div class="main-tag">
        <span>Online Masters’s In <span>Fashion Innovation & Luxury E-Commerce</span></span>
      </div>
      <div class="main-tag">
        <span>Online Master’s Program In <span>Fashion & Luxury Brand Management</span></span>
      </div>
    </div>
  </div>
</section>

<%= _.template(require('../includes/blocks/accordion-section.html').default)({}) %>

<%= _.template(require('../includes/blocks/apply-section.html').default)({}) %>

<%= _.template(require('../includes/blocks/program-tabs-section.html').default)({}) %>

<%= _.template(require('../includes/blocks/cards-slider-section.html').default)({}) %>

<%= _.template(require('../includes/blocks/table-section.html').default)({}) %>

<%= _.template(require('../includes/blocks/faq-section.html').default)({}) %>

<!--footer.html-->
<%= _.template(require('../includes/common/footer.html').default)({}) %>
