<!--header.html-->
<%= _.template(require('../includes/common/header.html').default)({}) %>

<%= _.template(require('../includes/blocks/main-banner.html').default)({}) %>

<%= _.template(require('../includes/blocks/staff-section.html').default)({}) %>

<%= _.template(require('../includes/blocks/students-work.html').default)({}) %>

<%= _.template(require('../includes/blocks/apply-section.html').default)({}) %>

<%= _.template(require('../includes/blocks/gallery-section.html').default)({}) %>


<!--footer.html-->
<%= _.template(require('../includes/common/footer.html').default)({}) %>
