<!--header.html-->
<%= _.template(require('../includes/common/header.html').default)({}) %>

<%= _.template(require('../includes/blocks/main-banner.html').default)({}) %>

<%= _.template(require('../includes/blocks/programs-section.html').default)({}) %>

<%= _.template(require('../includes/blocks/apply-section.html').default)({}) %>

<%= _.template(require('../includes/blocks/students-work.html').default)({}) %>

<%= _.template(require('../includes/blocks/full-width-video-section.html').default)({}) %>

<%= _.template(require('../includes/blocks/content-w-image-section.html').default)({}) %>

<%= _.template(require('../includes/blocks/events-section-main.html').default)({}) %>

<%= _.template(require('../includes/blocks/blog-cards-block.html').default)({}) %>

<%= _.template(require('../includes/blocks/testimonials.html').default)({}) %>

<%= _.template(require('../includes/blocks/stats-about-section.html').default)({}) %>

<%= _.template(require('../includes/blocks/staff-section.html').default)({}) %>


<!--footer.html-->
<%= _.template(require('../includes/common/footer.html').default)({}) %>
