<!--header.html-->
<%= _.template(require('../includes/common/header.html').default)({}) %>

<section class="page-banner" >
  <div class="container">
    <div class="page-banner-wrapper" style="background-image: url(./img/graduate-back.png)">
      <h1 class="h2">
        Pre-College
        <b>Program</b>
      </h1>
    </div>
  </div>
</section>

<section class="main-tags-section">
  <div class="container">
    <div class="main-tags-wrapper">
      <div class="main-tag">
        <span>Master’s Program In <span>Fashion & Luxury Brand Management</span></span>
      </div>
      <div class="main-tag">
        <span>Online Master’s Program In <span>Digital Communication & Social Media Strategy</span></span>
      </div>
      <div class="main-tag">
        <span>Online Masters’s In <span>Fashion Innovation & Luxury E-Commerce</span></span>
      </div>
      <div class="main-tag">
        <span>Online Master’s Program In <span>Fashion & Luxury Brand Management</span></span>
      </div>
    </div>
  </div>
</section>

<%= _.template(require('../includes/blocks/accordion-section.html').default)({}) %>

<%= _.template(require('../includes/blocks/apply-section.html').default)({}) %>

<%= _.template(require('../includes/blocks/program-tabs-section.html').default)({}) %>

<%= _.template(require('../includes/blocks/cards-slider-section.html').default)({}) %>

<section class="text-section-w-image">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-m-12">
        <div class="h2">
          <span>Start Discovering</span>
          <span><b>Your Pre-College Program</b></span>
        </div>
        <div class="text-description text-description-large">
          <p>
            The Fashion Youth Programs at Istituto Marangoni Miami are tailored to high school students who have a passion for fashion. Designed for those aged 15 and above, our youth programs offer an array of engaging experiences for aspiring fashion enthusiasts. The Miami School of Fashion and Design presents an exciting lineup of options, including: ‘Fashion Camps‘, ‘My Portfolio Experience‘ and ‘My Atelier Experience‘. Our goal is to introduce young creatives to the concepts and realities of the fashion industry before they embark on their college education. By offering a range of immersive lessons and expert guidance, our programs empower students to discover their preferences and hone their skills. Whether you’re interested in designing, styling, or business, our fashion youth programs are designed to enrich your knowledge, expand your portfolio, and set you on a path to success.
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-m-12">
        <div class="image-wrapper">
          <img src="./img/content-block-image.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>

<%= _.template(require('../includes/blocks/table-section.html').default)({}) %>

<section class="text-section-w-image">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-m-12">
        <div class="image-wrapper">
          <img src="./img/content-image1.png" alt="">
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-m-12">
        <div class="h2">
          <span>Why Should I Attend</span>
          <span><b>A Youth Program at Istituto Marangoni Miami</b></span>
        </div>
        <div class="text-description text-description-large">
          <p>
            The fashion youth courses at Istituto Marangoni Miami provide high school students with the opportunity to gain experience in the fashion industry before they even graduate high school. Ranging from portfolio creation, garment designing, or learning the business behind the fashion industry, Marangoni’s youth camp courses provide young creatives with a chance to connect with fashion. This connection is not only made through the workshops but also with the accomplished faculty of Istituto Marangoni Miami.
          </p>
          <p>
            The fashion courses allow the students to discover their interests, spark creativity in their journey through fashion, and explore the industry all in one of the top fashion schools. At the end of the camp of choice, the students will have acquired the necessary resources to update their resumes and portfolios for college applications or professional opportunities.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<%= _.template(require('../includes/blocks/staff-section.html').default)({}) %>

<%= _.template(require('../includes/blocks/faq-section.html').default)({}) %>

<!--footer.html-->
<%= _.template(require('../includes/common/footer.html').default)({}) %>
