<!--header.html-->
<link rel="stylesheet" href="../../scss/components/_filters-block.scss"><%= _.template(require('../includes/common/header.html').default)({}) %>

<section class="page-banner" >
  <div class="container">
    <div class="page-banner-wrapper" style="background-image: url(./img/press-release-back.png)">
      <h1 class="h2">
        Press <br> <strong>release</strong>
      </h1>
    </div>
  </div>
</section>



<section class="filters-section">
  <div class="container">
    <div class="title-wrapper">
      <div class="filter-title">FILTER</div>
      <div class="search-wrapper">
        <form action="">
          <input type="search" placeholder="SEARCH BY KEYWORD">
        </form>
      </div>
    </div>
    <div class="filters-block">
      <div class="category-title">CATEGORY</div>
      <div class="filters-wrapper">
        <div class="filter selected">
          <span>All</span>
        </div>
        <div class="filter">
          <span>UNCATEGORIZED</span>
        </div>
        <div class="filter">
          <span>EVENT</span>
        </div>
        <div class="filter">
          <span>SEASON</span>
        </div>
        <div class="filter">
          <span>Show</span>
        </div>
        <div class="filter">
          <span>TRENDS</span>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="custom-cards-section">
  <div class="container">
    <div class="custom-list">
      <div class="custom-list-item card-bordered-wrapper">
        <div class="custom-item-col">
          <div class="custom-item-content">
            <div class="tags">
              <div class="tag">
                <span>#STUDENT WRITER</span>
              </div>
              <div class="tag">
                <span>#NEW YORK FASHION WEEK 2023</span>
              </div>
              <div class="tag">
                <span>#FASHION AND LUXURY BRANDS</span>
              </div>
              <div class="tag">
                <span>#FASHION DESIGN & BUSINESS</span>
              </div>
            </div>
            <div class="custom-item-title">All You Need to Know About a Career in Fashion Merchandising</div>
            <div class="text-description">
              <p>The fashion industry overall is a dynamic and vibrant field but it’s also competitive. Dependent on creativity, research, and innovation, fashion merchandising is a vital component of the fashion and luxury environment that goes beyond everything to know about fashion. By combining ...</p>
            </div>
          </div>
          <div class="custom-item-meta">
            <div class="custom-item-cat">Category of custom</div>
            <div class="custom-item-date">25 Oct 2023 12:30 pm</div>
            <a href="#" class="link-red link-red-arrow">Read more</a>
          </div>
        </div>
        <div class="custom-item-col">
          <div class="custom-card-image">
            <img src="./img/blog-card-image.png" alt="">
          </div>
        </div>
      </div>
      <div class="custom-list-item card-bordered-wrapper">
        <div class="custom-item-col">
          <div class="custom-item-content">
            <div class="tags">
              <div class="tag">
                <span>#STUDENT WRITER</span>
              </div>
              <div class="tag">
                <span>#NEW YORK FASHION WEEK 2023</span>
              </div>
              <div class="tag">
                <span>#FASHION AND LUXURY BRANDS</span>
              </div>
              <div class="tag">
                <span>#FASHION DESIGN & BUSINESS</span>
              </div>
            </div>
            <div class="custom-item-title">All You Need to Know About a Career in Fashion Merchandising</div>
            <div class="text-description">
              <p>The fashion industry overall is a dynamic and vibrant field but it’s also competitive. Dependent on creativity, research, and innovation, fashion merchandising is a vital component of the fashion and luxury environment that goes beyond everything to know about fashion. By combining ...</p>
            </div>
          </div>
          <div class="custom-item-meta">
            <div class="custom-item-cat">Category of custom</div>
            <div class="custom-item-date">25 Oct 2023 12:30 pm</div>
            <a href="#" class="link-red link-red-arrow">Read more</a>
          </div>
        </div>
        <div class="custom-item-col">
          <div class="custom-card-image">
            <img src="./img/blog-card-image.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<%= _.template(require('../includes/common/footer.html').default)({}) %>
