<!--header.html-->
<%= _.template(require('../includes/common/header.html').default)({}) %>


<section class="search-section">
  <div class="container">
    <div class="h2">Search</div>
    <div class="search-wrapper">
      <form action="">
        <input type="search" placeholder="fashion...">
      </form>
      <div class="search-tags">
        <div class="tag"><span>Fashion Design</span></div>
        <div class="tag"><span>Fashion Design</span></div>
        <div class="tag"><span>Fashion Design</span></div>
        <div class="tag"><span>Fashion Design</span></div>
      </div>
    </div>
  </div>
</section>
