<!--header.html-->
<%= _.template(require('../includes/common/header.html').default)({}) %>


<section class="search-section">
  <div class="container">
    <div class="h2">Search</div>
    <div class="search-wrapper">
      <form action="">
        <input type="search" placeholder="fashion...">
      </form>
      <div class="search-results-pagination">
        <div class="search-total"><span>1,647</span>results</div>
        <ul>
          <li>
            <a href="#">1</a>
          </li>
          <li>
            <a href="#">2</a>
          </li>
          <li>
            ...
          </li>
          <li>
            <a href="#">9</a>
          </li>
          <li>
            <a href="#">10</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="search-results">
      <div class="search-result-card card-bordered-wrapper">
        <div class="custom-item-col">
          <div class="card-info-tags card-info-tags-pc">
            <div class="tag">
              <span>#STUDENT WRITER</span>
            </div>
            <div class="tag">
              <span>#NEW YORK FASHION WEEK 2023</span>
            </div>
            <div class="tag">
              <span>#FASHION AND LUXURY BRANDS</span>
            </div>
            <div class="tag">
              <span>#FASHION DESIGN & BUSINESS</span>
            </div>
          </div>
          <div class="custom-item-content">
            <div class="custom-item-title">All You Need to Know About a Career in Fashion Merchandising</div>
            <div class="text-description">
              <p>The fashion industry overall is a dynamic and vibrant field but it’s also competitive. Dependent on creativity, research, and innovation, fashion merchandising is a vital component of the fashion and luxury environment that goes beyond everything to know about fashion. By combining ...</p>
            </div>
          </div>
          <div class="custom-item-meta">
            <div class="custom-item-cat">UNCATEGORIZED</div>
            <div class="custom-item-date">16 Nov 2022</div>
            <a href="#" class="link-red link-red-arrow">Read more</a>
          </div>
        </div>
        <div class="custom-item-col">
          <div class="card-info-tags card-info-tags-mobile">
            <div class="tag">
              <span>#STUDENT WRITER</span>
            </div>
            <div class="tag">
              <span>#NEW YORK FASHION WEEK 2023</span>
            </div>
            <div class="tag">
              <span>#FASHION AND LUXURY BRANDS</span>
            </div>
            <div class="tag">
              <span>#FASHION DESIGN & BUSINESS</span>
            </div>
          </div>
          <div class="custom-card-image">
            <img src="./img/blog-card-image.png" alt="">
          </div>
          <div class="custom-item-meta custom-item-meta-mobile">
            <div class="custom-item-cat">UNCATEGORIZED</div>
            <div class="custom-item-date">16 Nov 2022</div>
          </div>
        </div>
      </div>
      <div class="search-results-pagination search-results-pagination-bottom">
        <ul>
          <li>
            <a href="#">1</a>
          </li>
          <li>
            <a href="#">2</a>
          </li>
          <li>
            ...
          </li>
          <li>
            <a href="#">9</a>
          </li>
          <li>
            <a href="#">10</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
