<!--header.html-->
<%= _.template(require('../includes/common/header.html').default)({}) %>

<section class="text-w-image-banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-m-12">
        <div class="banner-content">
          <h1 class="h2">
            <span>Our <b>Faculty</b> </span>
          </h1>
          <div class="text-description">
            <p>
              At Istituto Marangoni Miami, we offer a transformative academic experience that goes beyond traditional boundaries, allowing students to explore the multifaceted world of fashion and design from diverse perspectives. Our institution is deeply rooted in Italian heritage, infusing every aspect of our academic programs with luxury, credibility, and innovation.We believe in shaping the future generation of fashion with a strong commitment to sustainability. Our academic programs emphasize responsible design, where creativity meets environmental and ethical consciousness. Students learn to create with purpose, making a meaningful impact in the global fashion landscape.
            </p>
            <p>
              Our curriculum is designed to prepare students for the complex dynamics of the fashion industry. Beyond the glamor, we delve into the challenges and opportunities it presents. Our personalized education, guided by industry professionals and partners, equips students with the knowledge, skills, and resilience needed to thrive in this competitive field. At Istituto Marangoni Miami, we believe that fashion has no boundaries. Our academic approach transcends traditional pathways, encouraging students to grow intellectually and creatively, expand their problem-solving capabilities, and become prepared to make a significant impact in the complex and ever-evolving world of fashion and design.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-m-12">
        <div class="banner-image">
          <img src="./img/banner-image-w-text.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="cards-list-section">
  <div class="container">
    <div class="title-wrapper">
      <div class="h2">Fashion <strong>Design</strong></div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 col-m-12">
        <div class="staff-card">
          <div class="staff-image">
            <img src="./img/staff-image.png" alt="">
          </div>
          <a href="#" class="open-modal-dialog staff-name" data-src="modal-staff">Keanan Duffty</a>
          <div class="staff-position">Dean of Fashion</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-m-12">
        <div class="staff-card">
          <div class="staff-image">
            <img src="./img/staff-image.png" alt="">
          </div>
          <a href="#" class="open-modal-dialog staff-name" data-src="modal-staff">Keanan Duffty</a>
          <div class="staff-position">Dean of Fashion</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-m-12">
        <div class="staff-card">
          <div class="staff-image">
            <img src="./img/staff-image.png" alt="">
          </div>
          <a href="#" class="open-modal-dialog staff-name" data-src="modal-staff">Keanan Duffty</a>
          <div class="staff-position">Dean of Fashion</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-m-12">
        <div class="staff-card">
          <div class="staff-image">
            <img src="./img/staff-image.png" alt="">
          </div>
          <a href="#" class="open-modal-dialog staff-name" data-src="modal-staff">Keanan Duffty</a>
          <div class="staff-position">Dean of Fashion</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-m-12">
        <div class="staff-card">
          <div class="staff-image">
            <img src="./img/staff-image.png" alt="">
          </div>
          <a href="#" class="open-modal-dialog staff-name" data-src="modal-staff">Keanan Duffty</a>
          <div class="staff-position">Dean of Fashion</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-m-12">
        <div class="staff-card">
          <div class="staff-image">
            <img src="./img/staff-image.png" alt="">
          </div>
          <a href="#" class="open-modal-dialog staff-name" data-src="modal-staff">Keanan Duffty</a>
          <div class="staff-position">Dean of Fashion</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-m-12">
        <div class="staff-card">
          <div class="staff-image">
            <img src="./img/staff-image.png" alt="">
          </div>
          <a href="#" class="open-modal-dialog staff-name" data-src="modal-staff">Keanan Duffty</a>
          <div class="staff-position">Dean of Fashion</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-m-12">
        <div class="staff-card">
          <div class="staff-image">
            <img src="./img/staff-image.png" alt="">
          </div>
          <a href="#" class="open-modal-dialog staff-name" data-src="modal-staff">Keanan Duffty</a>
          <div class="staff-position">Dean of Fashion</div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="cards-list-section">
  <div class="container">
    <div class="title-wrapper">
      <div class="h2">Fashion <strong>Design</strong></div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 col-m-12">
        <div class="staff-card">
          <div class="staff-image">
            <img src="./img/staff-image.png" alt="">
          </div>
          <a href="#" class="open-modal-dialog staff-name" data-src="modal-staff">Keanan Duffty</a>
          <div class="staff-position">Dean of Fashion</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-m-12">
        <div class="staff-card">
          <div class="staff-image">
            <img src="./img/staff-image.png" alt="">
          </div>
          <a href="#" class="open-modal-dialog staff-name" data-src="modal-staff">Keanan Duffty</a>
          <div class="staff-position">Dean of Fashion</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-m-12">
        <div class="staff-card">
          <div class="staff-image">
            <img src="./img/staff-image.png" alt="">
          </div>
          <a href="#" class="open-modal-dialog staff-name" data-src="modal-staff">Keanan Duffty</a>
          <div class="staff-position">Dean of Fashion</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-m-12">
        <div class="staff-card">
          <div class="staff-image">
            <img src="./img/staff-image.png" alt="">
          </div>
          <a href="#" class="open-modal-dialog staff-name" data-src="modal-staff">Keanan Duffty</a>
          <div class="staff-position">Dean of Fashion</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-m-12">
        <div class="staff-card">
          <div class="staff-image">
            <img src="./img/staff-image.png" alt="">
          </div>
          <a href="#" class="open-modal-dialog staff-name" data-src="modal-staff">Keanan Duffty</a>
          <div class="staff-position">Dean of Fashion</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-m-12">
        <div class="staff-card">
          <div class="staff-image">
            <img src="./img/staff-image.png" alt="">
          </div>
          <a href="#" class="open-modal-dialog staff-name" data-src="modal-staff">Keanan Duffty</a>
          <div class="staff-position">Dean of Fashion</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-m-12">
        <div class="staff-card">
          <div class="staff-image">
            <img src="./img/staff-image.png" alt="">
          </div>
          <a href="#" class="open-modal-dialog staff-name" data-src="modal-staff">Keanan Duffty</a>
          <div class="staff-position">Dean of Fashion</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-m-12">
        <div class="staff-card">
          <div class="staff-image">
            <img src="./img/staff-image.png" alt="">
          </div>
          <a href="#" class="open-modal-dialog staff-name" data-src="modal-staff">Keanan Duffty</a>
          <div class="staff-position">Dean of Fashion</div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="cards-list-section">
  <div class="container">
    <div class="title-wrapper">
      <div class="h2">Fashion <strong>Design</strong></div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 col-m-12">
        <div class="staff-card">
          <div class="staff-image">
            <img src="./img/staff-image.png" alt="">
          </div>
          <a href="#" class="open-modal-dialog staff-name" data-src="modal-staff">Keanan Duffty</a>
          <div class="staff-position">Dean of Fashion</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-m-12">
        <div class="staff-card">
          <div class="staff-image">
            <img src="./img/staff-image.png" alt="">
          </div>
          <a href="#" class="open-modal-dialog staff-name" data-src="modal-staff">Keanan Duffty</a>
          <div class="staff-position">Dean of Fashion</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-m-12">
        <div class="staff-card">
          <div class="staff-image">
            <img src="./img/staff-image.png" alt="">
          </div>
          <a href="#" class="open-modal-dialog staff-name" data-src="modal-staff">Keanan Duffty</a>
          <div class="staff-position">Dean of Fashion</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-m-12">
        <div class="staff-card">
          <div class="staff-image">
            <img src="./img/staff-image.png" alt="">
          </div>
          <a href="#" class="open-modal-dialog staff-name" data-src="modal-staff">Keanan Duffty</a>
          <div class="staff-position">Dean of Fashion</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-m-12">
        <div class="staff-card">
          <div class="staff-image">
            <img src="./img/staff-image.png" alt="">
          </div>
          <a href="#" class="open-modal-dialog staff-name" data-src="modal-staff">Keanan Duffty</a>
          <div class="staff-position">Dean of Fashion</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-m-12">
        <div class="staff-card">
          <div class="staff-image">
            <img src="./img/staff-image.png" alt="">
          </div>
          <a href="#" class="open-modal-dialog staff-name" data-src="modal-staff">Keanan Duffty</a>
          <div class="staff-position">Dean of Fashion</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-m-12">
        <div class="staff-card">
          <div class="staff-image">
            <img src="./img/staff-image.png" alt="">
          </div>
          <a href="#" class="open-modal-dialog staff-name" data-src="modal-staff">Keanan Duffty</a>
          <div class="staff-position">Dean of Fashion</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-m-12">
        <div class="staff-card">
          <div class="staff-image">
            <img src="./img/staff-image.png" alt="">
          </div>
          <a href="#" class="open-modal-dialog staff-name" data-src="modal-staff">Keanan Duffty</a>
          <div class="staff-position">Dean of Fashion</div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="cards-list-section">
  <div class="container">
    <div class="title-wrapper">
      <div class="h2">Fashion <strong>Design</strong></div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 col-m-12">
        <div class="staff-card">
          <div class="staff-image">
            <img src="./img/staff-image.png" alt="">
          </div>
          <a href="#" class="open-modal-dialog staff-name" data-src="modal-staff">Keanan Duffty</a>
          <div class="staff-position">Dean of Fashion</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-m-12">
        <div class="staff-card">
          <div class="staff-image">
            <img src="./img/staff-image.png" alt="">
          </div>
          <a href="#" class="open-modal-dialog staff-name" data-src="modal-staff">Keanan Duffty</a>
          <div class="staff-position">Dean of Fashion</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-m-12">
        <div class="staff-card">
          <div class="staff-image">
            <img src="./img/staff-image.png" alt="">
          </div>
          <a href="#" class="open-modal-dialog staff-name" data-src="modal-staff">Keanan Duffty</a>
          <div class="staff-position">Dean of Fashion</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-m-12">
        <div class="staff-card">
          <div class="staff-image">
            <img src="./img/staff-image.png" alt="">
          </div>
          <a href="#" class="open-modal-dialog staff-name" data-src="modal-staff">Keanan Duffty</a>
          <div class="staff-position">Dean of Fashion</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-m-12">
        <div class="staff-card">
          <div class="staff-image">
            <img src="./img/staff-image.png" alt="">
          </div>
          <a href="#" class="open-modal-dialog staff-name" data-src="modal-staff">Keanan Duffty</a>
          <div class="staff-position">Dean of Fashion</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-m-12">
        <div class="staff-card">
          <div class="staff-image">
            <img src="./img/staff-image.png" alt="">
          </div>
          <a href="#" class="open-modal-dialog staff-name" data-src="modal-staff">Keanan Duffty</a>
          <div class="staff-position">Dean of Fashion</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-m-12">
        <div class="staff-card">
          <div class="staff-image">
            <img src="./img/staff-image.png" alt="">
          </div>
          <a href="#" class="open-modal-dialog staff-name" data-src="modal-staff">Keanan Duffty</a>
          <div class="staff-position">Dean of Fashion</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-m-12">
        <div class="staff-card">
          <div class="staff-image">
            <img src="./img/staff-image.png" alt="">
          </div>
          <a href="#" class="open-modal-dialog staff-name" data-src="modal-staff">Keanan Duffty</a>
          <div class="staff-position">Dean of Fashion</div>
        </div>
      </div>
    </div>
  </div>
</section>


<div class="modal-dialog modal-dialog-centered modal-staff" style="display: none">
  <div class="modal-content">
    <div class="modal-body container-fluid">
      <div class="modal-staff-wrapper">
        <div class="modal-staff-column">
          <div class="staff-card">
            <div class="staff-image">
              <img src="./img/staff-image.png" alt="">
            </div>
            <a href="#" class="open-modal-dialog staff-name">Keanan Duffty</a>
            <div class="staff-position">Dean of Fashion</div>
          </div>
          <button type="button" class="modal-close d-none d-xl-inline-block" data-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-staff-column">
          <div class="staff-description">
            <p>Keanan Duffty serves as the Dean of Fashion at Istituto Marangoni Miami. He is an award-winning British fashion designer and the author of Rebel Rebel: Anti-Style (Rizzoli/Universe, 2009). Duffty earned a Bachelor of Arts degree with 1st Class Honors in fashion from Central Saint Martins, London. In 2007 Duffty became a member of the Council of Fashion Designers of America (CFDA) and his collections have been shown at New York Fashion week from 1998-2010. From 2000-2003 Duffty collaborated with Reebok, Gola and Dr Martens on co-branded collections and has served as Design Director for Gwen Stefani’s L.A.M.B, John Varvatos and Ben Sherman.</p>
          </div>
          <a href="#" class="link-red link-red-arrow">read more</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!--footer.html-->
<%= _.template(require('../includes/common/footer.html').default)({}) %>
