<section class="cards-list-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-m-12">
        <div class="staff-card">
          <div class="staff-image">
            <img src="./img/staff-image.png" alt="">
          </div>
          <a href="#" class="open-modal-dialog staff-name" data-src="modal-staff">Keanan Duffty</a>
          <div class="staff-position">Dean of Fashion</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-m-12">
        <div class="staff-card">
          <div class="staff-image">
            <img src="./img/staff-image.png" alt="">
          </div>
          <a href="#" class="open-modal-dialog staff-name" data-src="modal-staff">Keanan Duffty</a>
          <div class="staff-position">Dean of Fashion</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-m-12">
        <div class="staff-card">
          <div class="staff-image">
            <img src="./img/staff-image.png" alt="">
          </div>
          <a href="#" class="open-modal-dialog staff-name" data-src="modal-staff">Keanan Duffty</a>
          <div class="staff-position">Dean of Fashion</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-m-12">
        <div class="staff-card">
          <div class="staff-image">
            <img src="./img/staff-image.png" alt="">
          </div>
          <a href="#" class="open-modal-dialog staff-name" data-src="modal-staff">Keanan Duffty</a>
          <div class="staff-position">Dean of Fashion</div>
        </div>
      </div>
    </div>
  </div>
</section>
