<!--header.html-->
<%= _.template(require('../includes/common/header.html').default)({}) %>

<section class="page-banner page-banner-title-light" >
  <div class="container">
    <div class="page-banner-wrapper" style="background-image: url(./img/undergraduate-back.png)">
      <h1 class="h2">
        Undergraduate
        <b>Programs</b>
      </h1>
    </div>
  </div>
</section>

<section class="main-tags-section">
  <div class="container">
    <div class="main-tags-wrapper">
      <div class="main-tag">
        <span>Associate Of Applied Science In <span>Fashion Business Degree</span></span>
      </div>
      <div class="main-tag">
        <span>Associate Of Applied Science In <span>Fashion Design</span></span>
      </div>
      <div class="main-tag">
        <span>Associate Of Applied Science In <span>Fashion Styling</span></span>
      </div>
      <div class="main-tag">
        <span>Associate In Applied <span>Science In Kitchen And Bath Design</span></span>
      </div>
      <div class="main-tag">
        <span>Bachelor Of Fine Arts In <span>Fashion Business</span></span>
      </div>
      <div class="main-tag">
        <span>Bachelor Of Fine Arts In <span>Fashion Styling</span></span>
      </div>
      <div class="main-tag">
        <span>Bachelor Of Fine Arts In <span>Fashion Design</span></span>
      </div>
      <div class="main-tag">
        <span>Bachelor Of Fine Arts In <span>Interior Design</span></span>
      </div>
    </div>
  </div>
</section>

<%= _.template(require('../includes/blocks/accordion-section.html').default)({}) %>

<%= _.template(require('../includes/blocks/apply-section.html').default)({}) %>

<%= _.template(require('../includes/blocks/program-tabs-section.html').default)({}) %>

<%= _.template(require('../includes/blocks/cards-slider-section.html').default)({}) %>

<%= _.template(require('../includes/blocks/table-section.html').default)({}) %>

<%= _.template(require('../includes/blocks/faq-section.html').default)({}) %>

<!--footer.html-->
<%= _.template(require('../includes/common/footer.html').default)({}) %>
